

:root {
  --darkColor: rgb(32, 33, 36);
  --lightColor: white;
  --primeColor: rgba(150, 202, 27, 0.911);
  --secondColor: rgba(223, 100, 78, 0.911);
  --secondColor: rgba(207, 126, 120, 0.911);
  --primeBorder: dashed 2px var(--lightColor);
  --secondBorder: solid 1px var(--lightColor);
  --borderRadius: 1rem;
}

::selection {
  background-color: rgb(221, 53, 53);
  color: var(--darkColor);
}

:target {
  padding-top: 8rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

body {
  box-sizing: border-box;
  font-size: 3rem;
  height: 100vh;
  line-height: 1.5;
  font-family: 'Nunito', 'Outfit', sans-serif;
  background-image: url("../src/images/5166950.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  /* background-color: #282c34;  */
  text-align: center;
  color: var(--lightColor);
  
}


h1 {
  font-size: 17px;
  text-transform: uppercase;
  color: var(--lightColor);  
  line-height: 180%;
  background-color: white;
  color: black;
  width: 150px;
  text-align: left;
  border-radius: 2px;
  justify-content: center;
  border-style: solid;
  border-color: gold;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: gold;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: var(--secondBorder);
  width: 80%;
}

p {
  font-size: 15px;
  padding-top: 0;
}

.primary,
.contact-form {
  color: var(--lightColor);
  margin: "1 rem"
}

h3 {
  display: block;
  font-size: 3rem;
  color: gold;

}

a {
  color: gold;
  text-align: left;
  
}

header {
  width: 100%;
  margin-top: 8px;
}

main {
  margin: 1rem;
  
}

svg:hover {
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}



.project:hover,
button:hover {
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





/* =================== FORM =================== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
 
 
}

input,
textarea {  
  width: 30%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: floralwhite;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: black;
  font-size: 15px;   
  font-family: "tahoma";
}

.winput {
  float: right;
  width: 60%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: floralwhite;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: black;
  font-size: 15px;   
  font-family: "tahoma";

}

.btn-primary {
  width: 100px;
  font-weight: bold;
  color: "rgb(47, 79, 79)";
  background-color: #FFE4C4;
  font-size: 15px;   
  font-family: "tahoma";
  border: 2px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  
}


button {

  background-Color: gold;
  font-size: 18px;
  font-family: Tahoma;
  font-weight: bold;
  color: rgb(47, 79, 79);   
  margin: 4px;
  border-radius: 0.5rem;
  height: 40px;  

}


.SvgIcon {
  transform: scale(2.5);
  color:white!important;
  
 }

.register {
  margin-Left: auto;
  margin-right: auto;
  width: 480px;

}


 label  {
  font-size: 20px;
  color: gold;
  font-weight: bold;
 }

 
p Update {
  font-size: 15px;
}

@media (max-width: 600px) {

  main {
    margin: 30px;
  }
  

  .register {
    margin: 5px;
    width: 470px 
  }
  
  .winput {  
    width: 55%;
  }
  
}

@media (max-width: 500px) {

  main {
    margin: 10px;
  }
  

  .register {
    margin: 5px;
    width: 430px 
  }
  
  .winput {  
    width: 55%;
  }
  
}


@media (max-width: 420px) {
  .register {
    margin: 5px;
    width: 350px 
  }
  
  .winput {  
    width: 48%;
  }
  
}








@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');



.container{
	margin: 30px;
    justify-content: center;
    text-align: center;
    
}

.row{
	width: 100%;
  height: 50%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #50A7FF;
	position: relative;
	flex: 1;
	max-width: 350px;
	height: 225px;
	margin: 20px;
	overflow: hidden;
}

.image img{
	opacity: 1.5;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 1;
  
}



.image .details{
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details  h2 span{
	font-weight: 900;
  color: rgb(203, 228, 41);
  background-color: #5056ff;
  border-radius: 5px;  
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 5;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 5;
	transform: translateY(-40px);
}



.image:hover .more{
	bottom: 0;
}

a {
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: double;
  text-shadow: #282c34;  
}


/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 400px;
	}
}

@media (max-width: 400px){
	.image {
		font-size: 16px;
	}

	}
      


  .thread_list {
    background-color: #61dafb;

  }

  textarea {

    width: 600px;
    height: 20px;

  }



  .thread_comments {
    width: 800px;
    margin-Left:auto;
     margin-Right:auto;
     margin-Bottom:40px;
     
     border-Style:solid;
     padding-Bottom:15px;
     border-Radius:5px; 
     Background-Color:Navy;

  }

  .userID {
    float: right;
    margin-Top:0px; 
    margin-Right:5px;
    font-size: 12px;
  }

  .comment {
    border-Radius:5px;
    margin-Bottom:0px;
    width:800px;
    text-Align:left;
    margin-Left:5px;
    margin-Right:5px;
    font-Size:20px; 
    text-Transform:capitalize
  }